{% if settings.facebook_profile %}
    <a href="{{ settings.facebook_profile }}" title="Facebook" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-facebook v-align-middle"></i>
    </a>
{% endif %}

{% if settings.instagram_profile %}
    <a href="{{ settings.instagram_profile }}" title="Instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-instagram v-align-middle"></i>
    </a>
{% endif %}

{% if settings.twitter_profile %}
    <a href="{{ settings.twitter_profile }}" title="Twitter" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-twitter v-align-middle"></i>
    </a>
{% endif %}

{% if settings.youtube_profile %}
    <a href="{{ settings.youtube_profile }}" title="Youtube" aria-label="Youtube" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-youtube v-align-middle"></i>
    </a>
{% endif %}

{% if settings.pinterest_profile %}
    <a href="{{ settings.pinterest_profile }}" title="Pinterest" aria-label="Pinterest" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-pinterest v-align-middle"></i>
    </a>
{% endif %}

{% if settings.linkedin_profile %}
    <a href="{{ settings.linkedin_profile }}" title="Linkedin" aria-label="Linkedin" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-linkedin v-align-middle"></i>
    </a>
{% endif %}